* {
    font-family:sans-serif;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: gold;
    -webkit-text-stroke: 2px black;
}


body {
    background: url("./background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    background: url("./background_box.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid rgb(255, 255, 255);
    height: 275px;
    width: 750px;
    margin: 25px auto;
    text-align: center;
}


#btn {
    border-radius: 15px;
    margin: 50px auto;
    height: 50px;
    width: 250px;
    font-size: 22px;
    background-color: rgb(252, 206, 0);
}

#btn:hover {
    background-color: rgb(30, 197, 99);
}

#output {
    margin: 25px auto;
    font-weight: bold;
    font-size: 26px;
    color:rgb(0, 0, 0)
}

