body {
    background: url("./background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    background-color:sandybrown;
    border: 5px solid rgb(255, 255, 255);
    height: 275px;
    width: 750px;
    margin: 25px auto;
    text-align: center;
}


#btn {
    margin: 50px auto;
    height: 50px;
    width: 250px;
    font-size: 22px;
    background-color: rgb(252, 0, 0);
}

#output {
    margin: 25px auto;
    font-size: 26px;
    color:rgb(255, 0, 0)
}

